center {
    margin-top: 15vh;
}
h1 {
    color: #e1b05f;
    font-size: 40px;
}
ul {
    list-style: none;
}
li {
    padding: 20px;
    font-size: 30px;
    text-decoration: none;
    color: #e1b05f;
}
a {
    text-decoration: none;
    color: #e1b05f;
    transition: all 0.1s;
}
a:hover {
    color: #3a3939;
}